.template-card {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.16);
  }
}

.template-card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.template-card__overlay {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}

.template-card h3 {
  font-size: 34px;

  font-family: "Cormorant Garamond", serif;

  margin-bottom: 22px;
  color: rgb(66, 66, 66);
  font-weight: 400;
}

.template-card__buttons {
  display: flex;
  justify-content: space-between;
}
.template-card__btn {
  color: black;
  &:hover {
    color: rgb(80, 80, 80);
  }
}
@media (max-width: 576px) {
  .template-card {
    width: 90%;
  }
}
