.templates{

max-width:1200px;

margin:auto;

padding:100px 20px;

}

.templates h2{

text-align:center;

margin-bottom:50px;

font-size:40px;

}

.grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:30px;

}