.countdown {
  position: relative;

  padding: 130px 20px;

  background: linear-gradient(180deg, #fff, #faf7f2);

  overflow: hidden;
  color: #4a6251;
}

.countdown::before {
  content: "";

  position: absolute;

  inset: 0;

  background: radial-gradient(
    circle at top,
    rgba(182, 138, 84, 0.08),
    transparent 60%
  );

  pointer-events: none;
}

.countdown__header {
  position: relative;

  z-index: 2;

  text-align: center;

  max-width: 700px;

  margin: 0 auto 70px;
}

.countdown__header h1 {
  font-size: 50px;
  font-family: "Alex";
  letter-spacing: 2px;

  margin-bottom: 22px;
}

.countdown__header p {
  font-size: 0.875rem;

  line-height: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #4a6251;
}

.countdown__grid {
  position: relative;

  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 28px;

  max-width: 980px;

  margin: auto;
}

.countdown__item {
  position: relative;

  padding: 45px 20px;

  border-radius: 28px;

  transition: 0.35s;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.countdown__number {
  font-family: "Alex";

  font-size: clamp(54px, 5vw, 82px);

  color: #4a6251;

  line-height: 1;
}

.countdown__label {
  margin-top: 18px;

  text-transform: uppercase;

  letter-spacing: 4px;

  font-size: 13px;

  color: #4a6251;
}
.countdown__hr {
  height: 30px;
  color: #4a6251;
}
.countdown__column {
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
}
.countdown__column-left {
  left: -50px;
}
.countdown__column-right {
  right: -50px;
}

@media (max-width: 600px) {
  .countdown {
    padding: 90px 18px;
  }

  .countdown__grid {
    gap: 18px;
  }

  .countdown__item {
    padding: 30px 10px;
  }
}
