.footer {
  padding: 140px 20px 80px;
  background: #faf8f5;
  position: relative;
  overflow: hidden;
}

.footer::before {
  content: "";

  position: absolute;
  inset: 0;

  background: radial-gradient(
    circle at top,
    rgba(182, 138, 84, 0.08),
    transparent 60%
  );

  pointer-events: none;
}

.footer__content {
  position: relative;

  max-width: 760px;

  margin: auto;

  text-align: center;
}

.footer__subtitle {
  display: block;

  margin-bottom: 22px;

  text-transform: uppercase;

  letter-spacing: 6px;

  font-size: 12px;

  color: #b68a54;
}

.footer__names {
  display: flex;

  flex-direction: column;

  gap: 12px;

  font-family: "Edwardian", "Alex";

  font-size: 70px !important;

  font-weight: 500;

  line-height: 0.95;

  color: #3c2b1c;
}

.footer__names span {
  font-size: 0.55em;

  color: #b68a54;
}

.footer__divider {
  width: 120px;

  height: 1px;

  margin: 45px auto;

  background: linear-gradient(to right, transparent, #c8aa82, transparent);
}

.footer__divider--small {
  width: 70px;

  margin: 40px auto;
}

.footer__date {
  font-family: "Cormorant Garamond", serif;

  font-size: 34px;

  color: #6b5337;

  letter-spacing: 2px;
}

.footer__thanks {
  margin-top: 35px;

  line-height: 2;

  font-size: 20px;

  color: #756553;
}

.footer__copyright {
  font-size: 15px;

  color: #9d8a73;

  letter-spacing: 1px;
}
.footer__curtain {
  position: absolute;
  top: 0;
  height: auto;
  user-select: none;
  transform-origin: top center;
  will-change: transform;
}
.footer__curtain-left {
  left: -10%;
  width: 38%;
  animation: curtainLeft 8s ease-in-out infinite;
}
@keyframes curtainLeft {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  25% {
    transform: translateX(-4px) rotate(-1deg);
  }

  50% {
    transform: translateX(-8px) rotate(-2deg);
  }

  75% {
    transform: translateX(-4px) rotate(-1deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}
.footer__curtain-center {
  left: 50%;
  transform: translateX(-50%);
  width: 50%;

  animation: curtainCenter 10s ease-in-out infinite;
}
@keyframes curtainCenter {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(4px);
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}
.footer__curtain-right {
  right: -10%;
  width: 38%;

  animation: curtainRight 8s ease-in-out infinite;
}
@keyframes curtainRight {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  25% {
    transform: translateX(4px) rotate(1deg);
  }

  50% {
    transform: translateX(8px) rotate(2deg);
  }

  75% {
    transform: translateX(4px) rotate(1deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 100px 20px 60px;
  }

  .footer__date {
    font-size: 26px;
  }

  .footer__thanks {
    font-size: 17px;
    line-height: 1.8;
  }

  .footer__subtitle {
    letter-spacing: 4px;
    font-size: 11px;
  }
}
