@use "../../styles/variables" as *;

@use "./Intro";
@use "./Hero";
@use "./Music";
@use "./Countdown";
@use "./Map";
@use "./Footer";
@use "./DressCode";
@use "./WeddingGift";
@use "./RSVP";

.la-maison-doree {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: white;
  overflow-x: hidden;
}

.preview-mode {
  height: 100%;
}

.template-content {
  display: none;
}

.template-content--show {
  display: block;
  opacity: 1;
}
