.home-hero {
  padding: 140px 20px;

  text-align: center;

  background: #faf8f5;
}

.home-hero h1 {
  font-size: 72px;

  font-family: "Cormorant Garamond", serif;

  color: #3c2a1b;
}

.home-hero p {
  max-width: 700px;

  margin: 25px auto 0;

  font-size: 19px;

  line-height: 1.9;

  color: #756553;
}

.templates {
  padding: 120px 20px;

  background: white;
}

.templates h2 {
  text-align: center;

  font-size: 60px;

  font-family: "Cormorant Garamond", serif;

  margin-bottom: 70px;
}

.templates-grid {
  max-width: 1450px;

  margin: auto;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

  gap: 35px;
}
