button,
a {
  transition: 0.3s;
}

button:hover {
  background: #9e7542;
}

a:hover {
  background: #ececec;
}
@font-face {
  font-family: "Parfumerie Script";
  src: url("./assets/Parfumerie\ Font/ParfumerieScriptOldStyle.otf")
    format("opentype");
}
html {
  scroll-behavior: smooth;
}
